[submodule "Repositories/ConstellationMaster"]
	path = Repositories/ConstellationMaster
	url = ../Constellation.git
[submodule "Repositories/Constellation-Flappy-bird"]
	path = Repositories/Constellation-Flappy-bird
	url = ../Constellation-Flappy-bird.git
[submodule "Repositories/Constellation-Flappy-bird.git"]
	path = Repositories/Constellation-Flappy-bird.git
	url = ../Constellation-Flappy-bird.git
[submodule "Repositories/ConstellationFlappyBird"]
	path = Repositories/ConstellationFlappyBird
	url = ../Constellation-Flappy-bird.git
